body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Zmienia na flex-start, aby zachować marginesy */
  background-color: lightgray;
}

.child {
  width: calc(30% - 5%); /* Ustawia szerokość na 30% minus margines */
  height: 50px;
  background-color: green;
  margin-right: 5%;
  margin-bottom: 10px;
}
